html {
    scroll-behavior: smooth; /* comportamento do sroll: suave */
}
body {
    color:rgb(0, 0, 0)
}
aside {
    width: 30%;
    padding: 20px;
    padding-left: 15px;
    margin-left: 15px;
    margin-top: 150px;
    margin-right: 70px;
    float: right;
    font-style: italic;
    background-color: rgba(212, 197, 197, 0.685);
  }