:root {
    --cor-primeira: #7fffd4;
    --cor-segunda: #09ac75;
    --cor-terceira: #7a0c90;
    --cor-quarta: #ffffff;
    --cor-quinta: #d4c5c5af;
    --cor-sexta: #e4d61a;
}   

html {
    scroll-behavior: smooth; /* comportamento do sroll: suave */
}
body {
    margin: 20px 50px;
    text-align: justify;
    background-color:var(--cor-terceira); 
}

aside {
    width: 30%;
    padding: 20px;
    padding-left: 15px;
    margin-left: 15px;
    margin-top: 150px;
    margin-right: 270px;
    float: right;
    font-style: italic;
    border-radius: 20px;
    background-color: var(--cor-quinta);
}

.titulo-principal {
    color: var(--cor-primeira);
    line-height: 2;
    font-weight: bold;
    font-size: 22pt;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-primario {
    color: var(--cor-primeira);
    line-height: 2;
    font-weight: bold;
    font-size: 22pt;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}   
    
.titulo-secundario {
    color: var(--cor-primeira);
    line-height: 1.8;
    font-weight: bold;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.titulo-de-secao {
    color: var(--cor-primeira);
    line-height: 1.8;
    font-size: 22pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}   

.titulo-de-secao-secundario {
    color: var(--cor-primeira);
    line-height: 1.8;
    font-size: 18pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-bottom: 18px;
}

p {
    color: var(--cor-quarta);
    line-height: 1.2;
}

.article-principal {
    border: 2px solid var(--cor-quarta);
    padding: 20px;
    margin: 20px 0;
    border-radius: 20px 0;
}

a {
    text-decoration: none;
    color: var(--cor-segunda);
}

.Atenção {
    color: var(--cor-sexta);
    line-height: 1.9;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-top: 18px;
}

.tags {
    color: var(--cor-sexta);
    line-height: 1.9;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-top: 18px;
}   

.botao-do-topo {
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding: 10px 15px;
    border: 2px solid var(--cor-segunda);
}   

footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-evenly;
}

figcaption {
    color: var(--cor-quarta);
}

li {
    color: var(--cor-quarta);
}

.article-principal p {
    padding: 15px;
    font-size: 18px;
    font-style: italic;
}

article {
    margin: 20px;
    border: 2px solid var(--cor-segunda);
    border-radius: 20px 0 20px 0;
    padding: 10px;
}

article p:first-of-type {
    border-radius: 20px 0 0 0;
}

article p:last-of-type {
    border-radius: 0 0 20px 0;
}

article p:only-of-type {
    border-radius: 20px 0 20px 0;
}

article p {
    padding: 20px;
    background-color: var(--cor-segunda);

}   

.titulo-de-artigo {
    color: var(--cor-primeira);
    line-height: 1;
    font-weight: bold;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.subtitulo-de-artigo {
    color: var(--cor-quarta);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin: 10px;
}

#artigos {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.artigo {
    width: 25%;
}

ul {
    display: flex;
    justify-content:space-evenly;
    background-color:var(--cor-sexta);
    font-size: 18pt;
    font-weight: bold;
}

li  {
    color: var(--cor-segunda);
}